@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #F5F5F5;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 233, 211, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb)) 90%,
      rgb(var(--background-end-rgb))  
    )
}
